#*********** CREAMOS LA BASE DE DATOS ***********#

CREATE DATABASE BODEGA;
USE BODEGA;


#*********** CREAMOS LA TABLA PRODUCTOS ***********#

CREATE TABLE PRODUCTOS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
	NOMBRE VARCHAR(28),
	PRECIO FLOAT,
	PROVEEDOR VARCHAR(28)
);


#*********** CREAMOS LA TABLA PERSONAS ***********#

CREATE TABLE PERSONAS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
	APELLIDO VARCHAR(28),
	NOMBRE VARCHAR(28),
	EDAD INT,
	PAIS VARCHAR(28)
);


#*********** CREAMOS LA TABLA EMPLEADOS ***********#

CREATE TABLE EMPLEADOS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
	APELLIDO VARCHAR(28),
	NOMBRE VARCHAR(28),
	EDAD INT NOT NULL,
	LOCAL_NOMBRE VARCHAR(28)
);


#*********** AGREGAMOS OCHO REGISTROS A LA TABLA PRODUCTOS ***********#

INSERT INTO PRODUCTOS (NOMBRE, PRECIO, PROVEEDOR)
	VALUES ("CAFE", 3.99, "LUCKY_LUCAS_CA");

INSERT INTO PRODUCTOS (NOMBRE, PRECIO, PROVEEDOR)
	VALUES
		("HARINA DE TRIGO", 1.75, "EL_HORNO_DE_ATENAS"),
		("GASEOSA", 1.50, "YORGELIS_2007");

INSERT INTO PRODUCTOS (NOMBRE, PRECIO, PROVEEDOR)
	VALUES
		("MANTEQUILLA", 2, "MILANAT"),
		("GALLETAS DE VAINILLA", 2, "DELICIAS_XIOMARA"),
		("ENCENDEDORES", 0.9, "LUCKY_LUCAS_CA"),
		("LECHE", 1.75, "MILANAT"),	
		("GOMITAS", 0.9, "CHUCHU_ELDUCE");


#*********** ACTUALIZAMOS EL CAMPO PROVEEDOR CUYO ID = 1 ***********#

UPDATE PRODUCTOS
	SET PROVEEDOR = "MOLTISANTI_CA"
	WHERE ID = 1;


#*********** ACTUALIZAMOS EL CAMPO PRECIO Y EL CAMPO PROVEEDOR CUYO CAMPO NOMBRE = GASEOSA ***********#

SET SQL_SAFE_UPDATES = 0;

UPDATE PRODUCTOS
	SET PRECIO = 0.9, PROVEEDOR = "MILANAT"
	WHERE NOMBRE = "GASEOSA";


#*********** REEMPLAZAMOS TODOS LOS CAMPOS DE PROVEEDOR = MOLTISANTI_CA POR LUCKY_LUCAS_CA ***********#

SET SQL_SAFE_UPDATES = 0;

UPDATE PRODUCTOS
	SET PROVEEDOR = "LUCKY_LUCAS_CA"
	WHERE PROVEEDOR = "MOLTISANTI_CA";


#*********** AGREGAMOS SEIS REGISTROS A LA TABLA PERSONAS ***********#

INSERT INTO PERSONAS (NOMBRE, EDAD, PAIS)
	VALUES
		("SERGIO", 20, "CUBA"),
		("JENNY", 24, "ARGENTINA"),
		("RAFAEL", 22, "MEXICO"),
		("FURIYEL", 23, "VENEZUELA"),
		("BERENGENIO", 19, "COLOMBIA"),
		("JOHANA", 20, "MEXICO");


#*********** ELIMINAMOS UN REGISTRO DE LA TABLA PERSONAS ***********#

DELETE FROM PERSONAS
	WHERE NOMBRE = "FURIYEL";


#*********** ELIMINAMOS TODOS LOS REGISTROS QUE CUMPLAN CON UNA CONDICION ***********#

DELETE FROM PERSONAS
	WHERE PAIS = "MEXICO";


#*********** ELIMINAMOS TODOS LOS REGISTROS DE LA TABLA PERSONAS ***********#

DELETE FROM PERSONAS;


#*********** AGREGAMOS UN VALOR POR DEFECTO EN LA COLUMNA PRODUCTOS DE LA TABLA EMPLEADOS ***********#

ALTER TABLE EMPLEADOS
	CHANGE LOCAL_NOMBRE LOCAL_NOMBRE VARCHAR(28)
	DEFAULT 'LOS PROCERES';


#*********** AGREGAMOS UN CHECK EN LA COLUMNA EDAD PARA QUE SOLO PERMITA VALORES MAYORES O IGUALES A 18 ***********#

ALTER TABLE EMPLEADOS
	ADD CHECK (EDAD >= 18);


#*********** INSERTAMOS DATOS PARA VERIFICAR QUE LAS RESTRICCIONES FUNCIONAN ***********#

INSERT INTO EMPLEADOS (APELLIDO, NOMBRE, EDAD)
	VALUES
		("TANTAMO", "ERNESTO", 23);

INSERT INTO EMPLEADOS (APELLIDO, NOMBRE, EDAD, LOCAL_NOMBRE)
	VALUES
		("POZO", "ALEJANDRA", 20, "LOS GENIOS");

INSERT INTO EMPLEADOS (APELLIDO, NOMBRE, EDAD)
	VALUES
		("BORGIA", "JUAN", 15);