#*********** CREAMOS LA BASE DE DATOS ***********#

CREATE DATABASE SIS_RESERVACIONES;
USE SIS_RESERVACIONES;


#*********** CREAMOS LA TABLA PELICULAS ***********#

CREATE TABLE PELICULAS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
	NOMBRE VARCHAR(45) NOT NULL UNIQUE,
	LENGTH_MIN INT NOT NULL
);


#*********** CREAMOS LA TABLA CLIENTES ***********#

CREATE TABLE CLIENTES (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	NOMBRE VARCHAR(45),
	APELLIDO VARCHAR(45) NOT NULL,
	EMAIL VARCHAR(45) NOT NULL UNIQUE
);


#*********** CREAMOS LA TABLA SALAS ***********#

CREATE TABLE SALAS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	NOMBRE VARCHAR(45) NOT NULL,
	N_ASIENTOS INT NOT NULL
);


#*********** CREAMOS LA TABLA FUNCIONES ***********#

CREATE TABLE FUNCIONES (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	ID_PELICULA INT NOT NULL,
	ID_SALA INT NOT NULL,
	HORA_INICIO DATETIME NOT NULL,
	FOREIGN KEY (ID_PELICULA) REFERENCES PELICULAS(ID),
	FOREIGN KEY (ID_SALA) REFERENCES SALAS(ID)
);


#*********** CREAMOS LA TABLA ASIENTOS ***********#

CREATE TABLE ASIENTOS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	FILA CHAR(1) NOT NULL,
	NUMERO INT NOT NULL,
	ID_SALA INT NOT NULL,
	FOREIGN KEY (ID_SALA) REFERENCES SALAS(ID)
);


#*********** CREAMOS LA TABLA RESERVACIONES ***********#

CREATE TABLE RESERVACIONES (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	ID_FUNCION INT NOT NULL,
	ID_CLIENTE INT NOT NULL,	
	FOREIGN KEY (ID_FUNCION) REFERENCES FUNCIONES(ID),
	FOREIGN KEY (ID_CLIENTE) REFERENCES CLIENTES(ID)
);


#*********** CREAMOS LA TABLA ASIENTOS_RESERVADOS ***********#

CREATE TABLE ASIENTOS_RESERVADOS (
	ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,	
	ID_RESERVACION INT NOT NULL,
	ID_ASIENTO INT NOT NULL,	
	FOREIGN KEY (ID_RESERVACION) REFERENCES RESERVACIONES(ID),
	FOREIGN KEY (ID_ASIENTO) REFERENCES ASIENTOS(ID)
);


#*********** INSERTAMOS LOS DATOS EN LA TABLA PELICULAS ***********#

INSERT INTO PELICULAS (NOMBRE, DUR_MIN)
	VALUES 
	('Blade Runner 2049',153),
	('Dunkirk',106),
	('Geostorm',121),
	('Thor: Ragnarok',107),
	('Jigsaw',116),
	('The Death of Stalin',98),
	('The Lego Ninjago Movie',101),
	('Murder on the Orient Express',135),
	('Paddington 2',88),
	('Breathe',117),
	('Blade Runner',127),
	('Victoria and Abdul',112);


#*********** INSERTAMOS LOS DATOS EN LA TABLA CLIENTES ***********#



#*********** INSERTAMOS LOS DATOS EN LA TABLA SALAS ***********#

 

#*********** INSERTAMOS LOS DATOS EN LA TABLA RESERVACIONES ***********#

 

#*********** INSERTAMOS LOS DATOS EN LA TABLA ASIENTOS_RESERVADOS ***********#

