#*********** CREAMOS LA BASE DE DATOS ***********#

CREATE DATABASE VET;
USE VET;


#*********** CREAMOS LA TABLA MASCOTAS ***********#

CREATE TABLE MASCOTAS (
	ID INT NOT NULL,
	NOMBRE VARCHAR(8),
	ID_DUEÑO INT NOT NULL,
	SERVICIO VARCHAR(12)
);


#*********** CREAMOS LA TABLA PERSONAS ***********#

CREATE TABLE PERSONAS (
	ID INT NOT NULL,
	NOMBRE VARCHAR(8),
	APELLIDO VARCHAR(12),
	ID_DUEÑO INT NOT NULL,
	COD_ZIP INT NOT NULL,
	TLF INT
);


#*********** CREAMOS LA TABLA DIRECCIONES ***********#

CREATE TABLE DIRECCIONES (
	ZIP INT NOT NULL,
	NOMBRE_ZONA VARCHAR(8),
	RUTA VARCHAR(50)
);


#*********** AGREGAMOS UNA PRIMARY KEY AL CAMPO ID EN LA TABLA MASCOTAS ***********#

ALTER TABLE VET.MASCOTAS
	ADD PRIMARY KEY (ID);


#*********** AGREGAMOS UNA PRIMARY KEY AL CAMPO ID EN LA TABLA PERSONAS ***********#

ALTER TABLE VET.PERSONAS
	ADD PRIMARY KEY (ID);


#*********** AGREGAMOS UNA PRIMARY KEY AL CAMPO ZIP EN LA TABLA DIRECCIONES ***********#

ALTER TABLE VET.DIRECCIONES
	ADD PRIMARY KEY (ZIP);


#*********** AGREGAMOS UNA FOREIGN KEY AL CAMPO ID_DUEÑO EN LA TABLA MASCOTAS QUE REFERENCIE AL CAMPO ID DE LA TABLA PERSONAS ***********#

ALTER TABLE VET.MASCOTAS
	ADD CONSTRAINT FK_DUEÑOS_ID
	FOREIGN KEY (ID_DUEÑO) REFERENCES VET.PERSONAS(ID);


#*********** AGREGAMOS UNA FOREIGN KEY AL CAMPO COD_ZIP EN LA TABLA PERSONAS QUE REFERENCIE AL CAMPO ZIP DE LA TABLA DIRECCIONES ***********#

ALTER TABLE VET.PERSONAS
	ADD CONSTRAINT FK_ZIP_DIR
	FOREIGN KEY (COD_ZIP) REFERENCES VET.DIRECCIONES(ZIP);


#*********** AGREGAMOS UNA COLUMNA EMAIL EN LA TABLA PERSONAS ***********#

ALTER TABLE PERSONAS
	ADD COLUMN EMAIL VARCHAR(50);


#*********** AGREGAMOS UNA UNIQUE CONSTRAINT A LA COLUMNA EMAIL DE LA TABLA PERSONAS ***********#

ALTER TABLE PERSONAS
	ADD CONSTRAINT U_EMAIL
	UNIQUE (EMAIL);


#*********** CAMBIAMOS EL NOMBRE A LA COLUMNA NOMBRE DE LA TABLA MASCOTAS POR PRIMER_NOMBRE ***********#

ALTER TABLE MASCOTAS
	CHANGE NOMBRE PRIMER_NOMBRE VARCHAR(8);


#*********** CAMBIAMOS EL TIPO DE DATO A LA COLUMNA RUTA EN LA TABLA DIRECCIONES POR CHART(12) ***********#

ALTER TABLE DIRECCIONES
	MODIFY RUTA CHAR(12);